interactions:
- request:
    body: '{"user": "user", "password": "password", "request": "GET_CONFIG_LIST"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_config_list
  response:
    body: {string: '{"code":200,"config":[{"name":"Button signature","status":"enabled","config_id":"445"},{"name":"SMS
        code signature","status":"enabled","config_id":"446"},{"name":"SMS code and
        Handwritten signature","status":"enabled","config_id":"447"},{"name":"Button
        signature","status":"enabled","config_id":"476"},{"name":"Button signature","status":"enabled","config_id":"478"},{"name":"Firma
        API ES","status":"enabled","config_id":"976"},{"name":"Firma API ES","status":"enabled","config_id":"978"},{"name":"Firma
        API ES","status":"enabled","config_id":"979"},{"name":"Firma API ES","status":"enabled","config_id":"984"}],"request":"GET_CONFIG_LIST","status":"Success","request_id":35007986}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
