interactions:
- request:
    body: '{"user": "username", "password": "password", "request": "GET_CONFIG_LIST"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_config_list
  response:
    body: {string: '{"status":"Success","code":200,"request_id":54290476,"request":"GET_CONFIG_LIST","config":[{"status":"enabled","config_id":"445","name":"Button
        signature"},{"status":"enabled","config_id":"446","name":"SMS code signature"},{"status":"enabled","config_id":"447","name":"SMS
        code and Handwritten signature"}]}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
