interactions:
- request:
    body: '{"user": "unnamed", "password": "unnamed", "request": "GET_CONFIG_LIST"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_config_list
  response:
    body: {string: '{"status":"Invalid user","code":1600,"request_id":85864946,"request":"GET_CONFIG_LIST"}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
