interactions:
- request:
    body: '{"user": "a_username", "password": "a_password", "request": "GET_CONFIG_LIST"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_config_list
  response:
    body: {string: '{"status":"Success","code":200,"config":[{"status":"enabled","name":"Button
        signature","config_id":"445"},{"status":"enabled","name":"SMS code signature","config_id":"446"},{"status":"enabled","name":"SMS
        code and Handwritten signature","config_id":"447"}],"request":"GET_CONFIG_LIST","request_id":95443807}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
