interactions:
- request:
    body: '{"user": "user", "password": "password", "request": "GET_CONFIG_LIST"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_config_list
  response:
    body: {string: '{"config":[{"status":"enabled","name":"Button signature","config_id":"445"},{"status":"enabled","name":"SMS
        code signature","config_id":"446"},{"status":"enabled","name":"SMS code and
        Handwritten signature","config_id":"447"},{"status":"enabled","name":"Button
        signature","config_id":"476"},{"status":"enabled","name":"Button signature","config_id":"478"},{"status":"enabled","name":"Firma
        API ES","config_id":"976"},{"status":"enabled","name":"Firma API ES","config_id":"978"},{"status":"enabled","name":"Firma
        API ES","config_id":"979"},{"status":"enabled","name":"Firma API ES","config_id":"984"}],"request_id":69352471,"status":"Success","code":200,"request":"GET_CONFIG_LIST"}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
- request:
    body: '{"config_id": 445, "user": "user", "password": "password", "request": "GET_CONFIG"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_config
  response:
    body: {string: "{\"config\":{\"color_background\":\"\",\"auto_cancel\":\"N\",\"signatory_tags\":[],\"default_sms_sender\":\"Click&Sign\",\"color_text\":\"\",\"logo\":25886,\"status\":\"enabled\",\"color_button_text\":\"\",\"name\":\"Button
        signature\",\"color_button_background\":\"\",\"lang\":\"ES\",\"expire_lapse\":\"720\",\"registered_langs\":\"ES\",\"registered_company_name\":\"COMPANY
          S.L.\",\"sms\":[],\"default_email_from_name\":\"COMPANY
         S.L.\",\"landing\":{\"signature_on_sign_required_elements\":{\"otp_length\":\"6\",\"otp_max_retries\":\"3\",\"handwritten\":\"N\",\"otp\":\"N\",\"otp_sending\":\"on_landing\"},\"landing_template\":\"\",\"url_redirect_delay\":\"-1\",\"signature_type\":\"on_sign\",\"default_url_redirect\":\"\"},\"registered_company_vat_number\":\"B55314041\",\"signatory_cb_url\":\"\",\"logo_url\":\"https://admin.clickandsign.eu/pdf/fakeUrl-\",\"email\":[{\"reminder_lapse\":\"0\",\"registered\":\"Y\",\"cc\":\"\",\"bcc\":\"\",\"subject\":\"Tienes
        un nuevo documento para firmar\",\"body_free_text\":\"\",\"body_template\":\"\",\"attachment_file_group\":[],\"from_name\":\"COMPANY
          S.L.\",\"type\":\"start\",\"to\":\"SIGNATORY\"},{\"reminder_lapse\":\"0\",\"registered\":\"N\",\"cc\":\"\",\"bcc\":\"\",\"subject\":\"\xA1Felicidades!
        Tu documento ha sido firmado\",\"body_free_text\":\"\",\"body_template\":\"\",\"attachment_file_group\":[\"SIGNATORY_STAMP\",\"SIGNATORY_EVIDENCE\"],\"from_name\":\"COMPANY
          S.L.\",\"type\":\"signed\",\"to\":\"SIGNATORY\"},{\"reminder_lapse\":\"0\",\"registered\":\"N\",\"cc\":\"\",\"bcc\":\"\",\"subject\":\"\xA1Felicidades!
        Tu documento ha sido firmado\",\"body_free_text\":\"\",\"body_template\":\"\",\"attachment_file_group\":[],\"from_name\":\"COMPANY
          S.L.\",\"type\":\"end_ok\",\"to\":\"SIGNATORY\"},{\"reminder_lapse\":\"0\",\"registered\":\"N\",\"cc\":\"\",\"bcc\":\"\",\"subject\":\"No
        ha sido posible firmar el documento\",\"body_free_text\":\"\",\"body_template\":\"\",\"attachment_file_group\":[],\"from_name\":\"COMPANY
          S.L.\",\"type\":\"end_ko\",\"to\":\"SIGNATORY\"},{\"reminder_lapse\":\"0\",\"registered\":\"N\",\"cc\":\"\",\"bcc\":\"\",\"subject\":\"El
        documento para firmar ha expirado\",\"body_free_text\":\"\",\"body_template\":\"\",\"attachment_file_group\":[],\"from_name\":\"COMPANY
          S.L.\",\"type\":\"expired\",\"to\":\"SIGNATORY\"}],\"signature_cb_url\":\"\"},\"status\":\"Success\",\"config_id\":\"445\",\"request_id\":52982131,\"request\":\"GET_CONFIG\",\"code\":200}"}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
