interactions:
- request:
    body: '{"signatory_id": -5, "user": "user", "password": "password", "request":
      "GET_SIGNATORY_DETAILS"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_signatory_details
  response:
    body: {string: '{"code":1603,"signatory_details":{},"request":"GET_SIGNATORY_DETAILS","status":"Invalid
        id","request_id":34260880}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
