interactions:
- request:
    body: '{"start_date": 1517443200, "user": "user", "password": "password", "request":
      "GET_SIGNATURE_LIST"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_signature_list
  response:
    body: {string: '{"status":"Success","signature":[],"request_id":62853732,"request":"GET_SIGNATURE_LIST","code":200}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
