interactions:
- request:
    body: '{"start_date": 1517443200, "user": "user", "password": "password", "request":
      "GET_SIGNATURE_LIST"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_signature_list
  response:
    body: {string: '{"status":"Success","signature":[],"request_id":62853732,"request":"GET_SIGNATURE_LIST","code":200}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
- request:
    body: '{"signatory_id": 15402849840400000, "user": "user", "password": "password",
      "request": "GET_SIGNATORY_DETAILS"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.clickandsign.eu/cs/get_signatory_details
  response:
    body: {string: '{"signatory_details":{"signatory_id":"15402849840400000","sms":[],"signatory_status_date":"1540284984","ip":"0","signatory_email":"xtorello@gisce.net","otp_tries":"0","email":[{"to":"xtorello@gisce.net","type":"start","status_date":"1540285065","bcc":"","attachments":[],"sending_date":"1540284984","registered":"N","status":"sent","cc":""}],"signature_id":"15402849840400000","signature_start_date":"1540284984","signatory_status":"6","signatory_phone":"+34666666666","signatory_url_redirect":"","level":"0","signatory_evidence_generated":"N"},"status":"Success","request":"GET_SIGNATORY_DETAILS","request_id":34470956,"code":200}'}
    headers:
      Content-Disposition: [inline; filename="response.txt"]
      Content-type: [text/plain;charset=utf-8]
    status: {code: 200, message: ''}
version: 1
